[submodule "modules/unbound"]
	path = modules/unbound
	url = https://github.com/zyrakq/unbound.git
[submodule "modules/step-ca-companion"]
	path = modules/step-ca-companion
	url = https://github.com/zyrakq/step-ca-companion.git
