# === BASE CONFIGURATION ===
# Project name for Docker Compose
COMPOSE_PROJECT_NAME=step-ca-manager

COMPOSE_PROFILES=dns

ACCESS_CONTROL_CUSTOM=0.0.0.0/0 allow
LOCAL_DOMAINS=local:192.168.0.100

DNS_SERVER=192.168.0.100

SSL_AUTOMATATION_IP=0.0.0.0

# Logging
LOG_MAX_SIZE=10m
LOG_MAX_FILE=3
LOG_COMPRESS=true